{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main>

        {% include 'includes/pre-loader.html' %}


        <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-primary text-white">
            <div class="container">
              <div class="row">
                <div class="col-12 text-center">
                    <h1 class="display-2 mb-3">{{car.brand}} {{car.model}} {{car.year}}</h1>
                    {% if car.plate %}
                      <p class="lead fw-normal text-muted mb-4 px-lg-10">
                       {{car.plate}}
                      </p>
                    {% endif %}
                    {% if car.description %}
                      <p class="lead fw-normal text-muted mb-4 px-lg-10">
                       {{car.description}}
                      </p>
                    {% endif %}
                    <p class="lead fw-normal text-muted mb-4 px-lg-10">
                        {{car.get_state_display}}
                    </p>
                </div>
              </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 golfo-d-md-block mb-n2"><svg class="fill-white"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
              </svg></figure>
          </section>
          <div class="section py-0 mt-5">
            <div class="container mt-n10 mt-lg-n12 z-2">
              <div class="row justify-content-center">
                <div class="card border-0 p-2 p-md-3 p-lg-5">

                  <div class="col-md-10 mx-auto">
                    <div id="Carousel2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          {% for photo in form.photos.initial %}
                            {% if photo.image.url  %}
                              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{photo.image.url}}" alt="First slide">
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#Carousel2" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#Carousel2" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>  
                
   










































                </div>
                    <br>
                    <br>
                    <br>
                </div>
              </div>
            </div>
          </div>

    </main>

    {% endblock content %}
