{% load static %}

<footer class="footer pt-6 pb-5 bg-primary text-white mt-6">
    <div class="container">
    <!--
      <div class="row">
          <div class="col-md-4">
              <img class="navbar-brand-dark mb-4" height="35" src="{% static 'assets/img/brand/gmm_dark.svg' %}">
              <p>Eventi automobilistici su selezione!</p>

              <div class="mb-3">
                <a href="https://www.instagram.com/golfomidnlght_meeting/" target="_blank" class="" style="margin-right: 0.5rem !important;">
                    <i class="fa-brands fab fa-instagram fa-2x"></i>
                </a>
                <a href="#" target="_blank" class="mx-2">
                    <i class="fa-brands fab fa-facebook fa-2x"></i>
                </a>
                <a href="#" target="_blank" class="mx-2">
                  <i class="fa-brands fa-tiktok fa-2x"></i>
                </a>
            </div>
          </div>

          <div class="col-12 col-md-4 mb-3 mb-lg-0">
            <span class="h5">Iscriviti</span>
            <p class="text-muted font-small mt-2">Unisciti alla nostra newsletter per rimanere sempre aggiornato sui nuovi eventi.
            </p>
            <form action="#">
                <div class="form-row mb-2">
                    <div class="col-12">
                        <label class="h6 fw-normal text-muted d-none" for="exampleInputEmail3">Indirizzo email</label>
                        <input type="email" class="form-control mb-2" placeholder="esempio@azienda.com" name="email"
                            aria-label="Modulo di iscrizione" id="exampleInputEmail3" required>
                    </div>
                    <div class="col-12 d-grid">
                        <button type="submit" class="btn btn-tertiary" data-loading-text="Invio in corso">
                            <span>Iscriviti</span>
                        </button>
                    </div>
                </div>
            </form>
            <p class="text-muted font-small m-0">Non condivideremo mai i tuoi dati. Vedi la nostra <a class="text-white"
                    href="#">Politica sulla privacy</a></p>
        </div>
        
        

      </div>

      -->

        <div class="row">
          <div class="col-md-4">
            <img class="navbar-brand-dark mb-4" height="35" src="{% static 'assets/img/brand/gmm_dark.svg' %}">
            <p>Eventi automobilistici su selezione!</p>
      
            <div class="mb-3">
              <a href="https://www.instagram.com/golfomidnlght_meeting/" target="_blank" class="" style="margin-right: 0.5rem !important;">
                <i class="fa-brands fab fa-instagram fa-2x"></i>
              </a>
              <a href="#" target="_blank" class="mx-2">
                <i class="fa-brands fab fa-facebook fa-2x"></i>
              </a>
              <a href="#" target="_blank" class="mx-2">
                <i class="fa-brands fa-tiktok fa-2x"></i>
              </a>
            </div>
          </div>

        </div>








      <hr class="bg-secondary my-3 my-lg-5">
      <div class="row">
          <div class="col mb-md-0">
              <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                  <p class="fw-normal font-small mb-0">
                    &copy; Coded by golfo_midnightmeeting.</p>
              </div>
          </div>
      </div>
  </div>
</footer>