{% load static %}
<!--
<div id="preloader" class="preloader bg-primary flex-column justify-content-center align-items-center">
  <div class="container" style="display: flex; justify-content: center; align-items: center;">
      <img id="loader-logo" src="{% static 'assets/img/loading.gif' %}" alt="Loading..." style="width: 50%; height: auto;">
  </div>
</div>
-->
<div class="preloader bg-primary flex-column justify-content-center align-items-center">
  <img id="img-loader-logo" src="{% static 'assets/img/loading.gif' %}" alt="Loading..." style="width: 50%; height: auto;">
  <svg id="loader-logo" width="0" height="0" viewBox="0 0 64 78.4" />
</div>
